In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/optimising-revenue-dataset/PS2/fact_aggregated_bookings.csv
/kaggle/input/optimising-revenue-dataset/PS2/dim_hotels.csv
/kaggle/input/optimising-revenue-dataset/PS2/dim_rooms.csv
/kaggle/input/optimising-revenue-dataset/PS2/dim_date.csv
/kaggle/input/optimising-revenue-dataset/PS2/fact_bookings.csv
/kaggle/input/fact-bookings-imputed/Bookings Imputed.csv

# Exploring DataFrames

In [2]:
dim_date = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/dim_date.csv")
dim_hotels = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/dim_hotels.csv")
dim_rooms = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/dim_rooms.csv")
fact_aggregated_bookings = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/fact_aggregated_bookings.csv")
fact_bookings = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/fact_bookings.csv")

In [3]:
dataframes = [dim_date,dim_hotels,dim_rooms,fact_aggregated_bookings,fact_bookings]

In [4]:
for i in dataframes:
    print(i.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      92 non-null     object
 1   mmm yy    92 non-null     object
 2   week no   92 non-null     object
 3   day_type  92 non-null     object
dtypes: object(4)
memory usage: 3.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 932.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id     4 non-null      object
 1   room_class  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB
None

In [5]:
for i in dataframes:
    print(i.head(10))
    print("\n")

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday
2  03-May-22  May 22    W 19  weekeday
3  04-May-22  May 22    W 19  weekeday
4  05-May-22  May 22    W 19  weekeday
5  06-May-22  May 22    W 19  weekeday
6  07-May-22  May 22    W 19   weekend
7  08-May-22  May 22    W 20   weekend
8  09-May-22  May 22    W 20  weekeday
9  10-May-22  May 22    W 20  weekeday


   property_id  property_name  category    city
0        16558   Atliq Grands    Luxury   Delhi
1        16559  Atliq Exotica    Luxury  Mumbai
2        16560     Atliq City  Business   Delhi
3        16561      Atliq Blu    Luxury   Delhi
4        16562      Atliq Bay    Luxury   Delhi
5        16563   Atliq Palace  Business   Delhi
6        17558   Atliq Grands    Luxury  Mumbai
7        17559  Atliq Exotica    Luxury  Mumbai
8        17560     Atliq City  Business  Mumbai
9        17561      Atliq Blu    Luxury  Mumbai


  room_id    room_class
0     RT1      Standard
1     RT2         Elite
2     RT3       Premium
3     RT4  Presidential


   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19
5        17560     01-May-22           RT1                   28        40
6        19558     01-May-22           RT1                   25        40
7        19560     01-May-22           RT1                   23        26
8        17561     01-May-22           RT1                   22        26
9        16560     01-May-22           RT1                   24        34


          booking_id  property_id booking_date check_in_date checkout_date  \
0   May012216558RT11        16558   2022-04-27    2022-05-01    2022-05-02
1   May012216558RT12        16558   2022-04-30    2022-05-01    2022-05-02
2   May012216558RT13        16558   2022-04-28    2022-05-01    2022-05-04
3   May012216558RT14        16558   2022-04-28    2022-05-01    2022-05-02
4   May012216558RT15        16558   2022-04-27    2022-05-01    2022-05-02
5   May012216558RT16        16558   2022-05-01    2022-05-01    2022-05-03
6   May012216558RT17        16558   2022-04-28    2022-05-01    2022-05-06
7   May012216558RT18        16558   2022-04-26    2022-05-01    2022-05-03
8   May012216558RT19        16558   2022-04-30    2022-05-01    2022-05-02
9  May012216558RT110        16558   2022-04-28    2022-05-01    2022-05-02

   no_guests room_category booking_platform  ratings_given booking_status  \
0          3           RT1    direct online            1.0    Checked Out
1          2           RT1           others            NaN      Cancelled
2          2           RT1          logtrip            5.0    Checked Out
3          2           RT1           others            NaN      Cancelled
4          4           RT1    direct online            5.0    Checked Out
5          2           RT1           others            4.0    Checked Out
6          2           RT1           others            NaN      Cancelled
7          2           RT1          logtrip            NaN        No Show
8          2           RT1         tripster            NaN    Checked Out
9          1           RT1           others            4.0    Checked Out

   revenue_generated  revenue_realized
0              10010             10010
1               9100              3640
2               9100              9100
3               9100              3640
4              10920             10920
5               9100              9100
6               9100              3640
7               9100              9100
8               9100              9100
9               9100              9100

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

# Fixing Problems with Data

**dim_rooms needs conversion of room_id and room_class into category**

In [6]:
dim_rooms["room_id"] = dim_rooms["room_id"].astype("category")
dim_rooms["room_class"] = dim_rooms["room_class"].astype("category")

**dim_hotels needs to convert city and category into category format**

In [7]:
dim_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 932.0+ bytes

In [8]:
dim_hotels["category"]=dim_hotels["category"].astype("category")
dim_hotels["city"]=dim_hotels["city"].astype("category")

In [9]:
dim_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     category
 3   city           25 non-null     category
dtypes: category(2), int64(1), object(1)
memory usage: 910.0+ bytes

**dim_date table needs corrected date format, delete its "mm yy" column (data redundancy), removing w from each row of week number and convert into integer, day_type should be converted into category**

In [10]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      92 non-null     object
 1   mmm yy    92 non-null     object
 2   week no   92 non-null     object
 3   day_type  92 non-null     object
dtypes: object(4)
memory usage: 3.0+ KB

In [11]:
dim_date["date"] = pd.to_datetime(dim_date["date"])

/tmp/ipykernel_13/2463475100.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dim_date["date"] = pd.to_datetime(dim_date["date"])

In [12]:
dim_date.drop(["mmm yy", "week no"], axis = 1, inplace =True)

In [13]:
dim_date.rename({"day_type":"Weekend"}, axis = 1, inplace = True)

In [14]:
dim_date["Weekend"] = np.where(dim_date["Weekend"].isin(["weekend"]),1,0)

In [15]:
dim_date["Weekend"].value_counts()

Weekend
0    65
1    27
Name: count, dtype: int64

In [16]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     92 non-null     datetime64[ns]
 1   Weekend  92 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.6 KB

**fact_aggregated_bookings needs check-in date into corrected date format, room_category into category type**

In [17]:
fact_aggregated_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB

In [18]:
fact_aggregated_bookings["check_in_date"] = pd.to_datetime(fact_aggregated_bookings["check_in_date"])
fact_aggregated_bookings["room_category"] = fact_aggregated_bookings["room_category"].astype("category")

/tmp/ipykernel_13/261419033.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fact_aggregated_bookings["check_in_date"] = pd.to_datetime(fact_aggregated_bookings["check_in_date"])

In [19]:
fact_aggregated_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   datetime64[ns]
 2   room_category        9200 non-null   category
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: category(1), datetime64[ns](1), int64(3)
memory usage: 296.8 KB

**fact_bookings has missing values in ratings_given column, booking & checkin & checkout dates must be converted into date type, room_category & booking_platform & booking_status into category**

In [20]:
fact_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB

In [21]:
fact_bookings.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

In [22]:
fact_bookings["booking_date"] = pd.to_datetime(fact_bookings["booking_date"])
fact_bookings["check_in_date"] = pd.to_datetime(fact_bookings["check_in_date"])
fact_bookings["checkout_date"] = pd.to_datetime(fact_bookings["checkout_date"])

In [23]:
fact_bookings[["room_category","booking_platform","booking_status"]] = fact_bookings[["room_category","booking_platform","booking_status"]].astype("category")

In [24]:
fact_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  datetime64[ns]
 3   check_in_date      134590 non-null  datetime64[ns]
 4   checkout_date      134590 non-null  datetime64[ns]
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  category
 7   booking_platform   134590 non-null  category
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  category
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: category(3), datetime64[ns](3), float64(1), int64(4), object(1)
memory usage: 9.6+ MB

Since ratings_given is just 58% filled, we cannot fill it with simple imputation methods like mean imputation. We will use RandomForest inputation here (fast and accurate). This uses RandomForest module on its backend to predict what people might have given ratings to the property.

In [25]:
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor

df_minimal = fact_bookings[['property_id', 'room_category', 
                           'revenue_realized', 'no_guests', 'ratings_given']].copy()

df_minimal['room_category_encoded'] = pd.Categorical(fact_bookings['room_category']).codes
df_minimal.drop('room_category', axis=1, inplace=True)

limited_rf_imputer = IterativeImputer(
    estimator=RandomForestRegressor(
        n_estimators=15,
        max_depth=8,
        min_samples_split=5,
        min_samples_leaf=2,
        max_features='auto',
        n_jobs=-1,
        random_state=42
    ),
    max_iter=1,
    random_state=42,
    initial_strategy='median'
)

X_imputed = limited_rf_imputer.fit_transform(df_minimal)

fact_bookings['ratings_given'] = X_imputed[:, -1]

/usr/local/lib/python3.11/dist-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/usr/local/lib/python3.11/dist-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/usr/local/lib/python3.11/dist-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/usr/local/lib/python3.11/dist-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(
/usr/local/lib/python3.11/dist-packages/sklearn/ensemble/_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

In [26]:
fact_aggregated_bookings.head()

   property_id check_in_date room_category  successful_bookings  capacity
0        16559    2022-05-01           RT1                   25        30
1        19562    2022-05-01           RT1                   28        30
2        19563    2022-05-01           RT1                   23        30
3        17558    2022-05-01           RT1                   13        19
4        16558    2022-05-01           RT1                   18        19

In [27]:
room_mapping = {
    'RT1': 'Standard',
    'RT2': 'Elite', 
    'RT3': 'Premium',
    'RT4': 'Presidential'
}

fact_aggregated_bookings['room_category'] = fact_aggregated_bookings['room_category'].map(room_mapping)
fact_bookings['room_category'] = fact_bookings['room_category'].map(room_mapping)

# Merging all the Dataframes together into a single DataFrame and extracting out some more features from it

In [28]:
# Rename columns category and city
dim_hotels = dim_hotels.rename(columns={
    'category': 'property_category', 
    'city': 'property_city'})

In [29]:
# Merge fact_bookings with renamed_dim_hotels on property_id with left join
fact_bookings = fact_bookings.merge(dim_hotels, how='left', on='property_id')
# Merge fact_aggregated_bookings with renamed_dim_hotels on property_id with left join
fact_aggregated_bookings = fact_aggregated_bookings.merge(dim_hotels, how='left', on='property_id')

In [30]:
fact_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  datetime64[ns]
 3   check_in_date      134590 non-null  datetime64[ns]
 4   checkout_date      134590 non-null  datetime64[ns]
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  category
 7   booking_platform   134590 non-null  category
 8   ratings_given      134590 non-null  float64
 9   booking_status     134590 non-null  category
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
 12  property_name      134590 non-null  object
 13  property_category  134590 non-null  category
 14  property_city      134590 non-null  category
dtypes: category(5), datetime64[ns](3), float64(1), int64(4), object(2)
memory usage: 10.9+ MB

In [31]:
fact_aggregated_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   datetime64[ns]
 2   room_category        9200 non-null   category
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
 5   property_name        9200 non-null   object
 6   property_category    9200 non-null   category
 7   property_city        9200 non-null   category
dtypes: category(3), datetime64[ns](1), int64(3), object(1)
memory usage: 387.0+ KB

# New Features Required in the Dataframe
    •	`day_of_week` = extract weekday from check_in_date
	•	`is_weekend` = boolean flag for weekend vs weekday
	•	`booking_count` = count of successful bookings by room type and day type

    •	`occupancy_rate` = successful_bookings / capacity
	•	`month_year` = extract from check_in_date for seasonal grouping
	•	`total_revenue` = sum of revenue_realized by time period

	•	`revenue_gap` = revenue_generated - revenue_realized (potential indicator of service losses)
	•	`revenue_per_guest` = revenue_realized / no_guests
	•	`service_utilization_proxy` = analysis of revenue patterns by property/room type

	•	`stay_duration` = checkout_date - check_in_date
	•	`spending_per_guest` = revenue_realized / no_guests
	•	`spending_per_night` = revenue_realized / stay_duration
	•	`customer_value_tier` = categorization based on total spending
	•	`average_spending_by_platform` = group analysis by booking channel

In [32]:
fact_bookings['booking_date'] = pd.to_datetime(fact_bookings['booking_date'])
fact_bookings['check_in_date'] = pd.to_datetime(fact_bookings['check_in_date'])
fact_bookings['checkout_date'] = pd.to_datetime(fact_bookings['checkout_date'])

fact_bookings['day_of_week_checkin'] = fact_bookings['check_in_date'].dt.dayofweek
fact_bookings['is_weekend_checkin'] = fact_bookings['day_of_week_checkin'].isin([5, 6])
fact_bookings['day_name_checkin'] = fact_bookings['check_in_date'].dt.day_name()

fact_bookings['month_year'] = fact_bookings['check_in_date'].dt.to_period('M')
fact_bookings['quarter'] = fact_bookings['check_in_date'].dt.quarter
fact_bookings['month_name'] = fact_bookings['check_in_date'].dt.month_name()
fact_bookings['week_number'] = fact_bookings['check_in_date'].dt.isocalendar().week

fact_bookings['revenue_gap'] = fact_bookings['revenue_generated'] - fact_bookings['revenue_realized']
fact_bookings['revenue_realization_rate'] = fact_bookings['revenue_realized'] / fact_bookings['revenue_generated']
fact_bookings['revenue_per_guest'] = fact_bookings['revenue_realized'] / fact_bookings['no_guests']

fact_bookings['stay_duration'] = (fact_bookings['checkout_date'] - fact_bookings['check_in_date']).dt.days
fact_bookings['spending_per_guest_per_night'] = fact_bookings['revenue_realized'] / (fact_bookings['no_guests'] * fact_bookings['stay_duration'])
fact_bookings['booking_lead_time'] = (fact_bookings['check_in_date'] - fact_bookings['booking_date']).dt.days
fact_bookings['same_day_booking'] = fact_bookings['booking_lead_time'] == 0
fact_bookings['guest_density'] = fact_bookings['no_guests']

fact_bookings['revenue_per_guest_quartile'] = pd.qcut(fact_bookings['revenue_per_guest'], q=4, labels=['Low_Value', 'Medium_Value', 'High_Value', 'Premium_Value'])
fact_bookings['stay_duration_category'] = pd.cut(fact_bookings['stay_duration'], bins=[0, 1, 3, 7, float('inf')], labels=['Short_Stay', 'Medium_Stay', 'Extended_Stay', 'Long_Stay'])
fact_bookings['advance_booking'] = fact_bookings['booking_lead_time'] > 7
fact_bookings['last_minute_booking'] = fact_bookings['booking_lead_time'] <= 1

fact_bookings['adr_per_guest'] = fact_bookings['revenue_realized'] / (fact_bookings['no_guests'] * fact_bookings['stay_duration'])
fact_bookings['is_successful_booking'] = fact_bookings['booking_status'] == 'Checked Out'
fact_bookings['high_rating'] = fact_bookings['ratings_given'] >= 4.0

fact_bookings.shape

(134590, 37)

In [33]:
fact_aggregated_bookings['check_in_date'] = pd.to_datetime(fact_aggregated_bookings['check_in_date'])

fact_aggregated_bookings['occupancy_rate'] = fact_aggregated_bookings['successful_bookings'] / fact_aggregated_bookings['capacity']
fact_aggregated_bookings['capacity_utilization_pct'] = fact_aggregated_bookings['occupancy_rate'] * 100
fact_aggregated_bookings['unused_capacity'] = fact_aggregated_bookings['capacity'] - fact_aggregated_bookings['successful_bookings']

fact_aggregated_bookings['month_year'] = fact_aggregated_bookings['check_in_date'].dt.to_period('M')
fact_aggregated_bookings['day_of_week'] = fact_aggregated_bookings['check_in_date'].dt.dayofweek
fact_aggregated_bookings['is_weekend'] = fact_aggregated_bookings['day_of_week'].isin([5, 6])
fact_aggregated_bookings['day_name'] = fact_aggregated_bookings['check_in_date'].dt.day_name()
fact_aggregated_bookings['quarter'] = fact_aggregated_bookings['check_in_date'].dt.quarter
fact_aggregated_bookings['month_name'] = fact_aggregated_bookings['check_in_date'].dt.month_name()
fact_aggregated_bookings['week_number'] = fact_aggregated_bookings['check_in_date'].dt.isocalendar().week

fact_aggregated_bookings['high_occupancy'] = fact_aggregated_bookings['occupancy_rate'] > 0.8
fact_aggregated_bookings['low_occupancy'] = fact_aggregated_bookings['occupancy_rate'] < 0.5
fact_aggregated_bookings['at_full_capacity'] = fact_aggregated_bookings['occupancy_rate'] >= 1.0

def create_room_performance_features(df):
    room_avg_occupancy = df.groupby('room_category')['occupancy_rate'].transform('mean')
    df['room_category_avg_occupancy'] = room_avg_occupancy
    df['occupancy_vs_room_avg'] = df['occupancy_rate'] - df['room_category_avg_occupancy']
    df['room_performance_rank'] = df.groupby(['property_id', 'check_in_date'])['occupancy_rate'].rank(ascending=False)
    return df

fact_aggregated_bookings = create_room_performance_features(fact_aggregated_bookings)

fact_aggregated_bookings.shape

/tmp/ipykernel_13/3478592517.py:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  room_avg_occupancy = df.groupby('room_category')['occupancy_rate'].transform('mean')

(9200, 24)

In [34]:
fact_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 37 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   booking_id                    134590 non-null  object
 1   property_id                   134590 non-null  int64
 2   booking_date                  134590 non-null  datetime64[ns]
 3   check_in_date                 134590 non-null  datetime64[ns]
 4   checkout_date                 134590 non-null  datetime64[ns]
 5   no_guests                     134590 non-null  int64
 6   room_category                 134590 non-null  category
 7   booking_platform              134590 non-null  category
 8   ratings_given                 134590 non-null  float64
 9   booking_status                134590 non-null  category
 10  revenue_generated             134590 non-null  int64
 11  revenue_realized              134590 non-null  int64
 12  property_name                 134590 non-null  object
 13  property_category             134590 non-null  category
 14  property_city                 134590 non-null  category
 15  day_of_week_checkin           134590 non-null  int32
 16  is_weekend_checkin            134590 non-null  bool
 17  day_name_checkin              134590 non-null  object
 18  month_year                    134590 non-null  period[M]
 19  quarter                       134590 non-null  int32
 20  month_name                    134590 non-null  object
 21  week_number                   134590 non-null  UInt32
 22  revenue_gap                   134590 non-null  int64
 23  revenue_realization_rate      134590 non-null  float64
 24  revenue_per_guest             134590 non-null  float64
 25  stay_duration                 134590 non-null  int64
 26  spending_per_guest_per_night  134590 non-null  float64
 27  booking_lead_time             134590 non-null  int64
 28  same_day_booking              134590 non-null  bool
 29  guest_density                 134590 non-null  int64
 30  revenue_per_guest_quartile    134590 non-null  category
 31  stay_duration_category        134590 non-null  category
 32  advance_booking               134590 non-null  bool
 33  last_minute_booking           134590 non-null  bool
 34  adr_per_guest                 134590 non-null  float64
 35  is_successful_booking         134590 non-null  bool
 36  high_rating                   134590 non-null  bool
dtypes: UInt32(1), bool(6), category(7), datetime64[ns](3), float64(5), int32(2), int64(8), object(4), period[M](1)
memory usage: 24.9+ MB