In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/optimising-revenue-dataset/PS2/fact_aggregated_bookings.csv
/kaggle/input/optimising-revenue-dataset/PS2/dim_hotels.csv
/kaggle/input/optimising-revenue-dataset/PS2/dim_rooms.csv
/kaggle/input/optimising-revenue-dataset/PS2/dim_date.csv
/kaggle/input/optimising-revenue-dataset/PS2/fact_bookings.csv

# Exploring DataFrames

In [2]:
dim_date = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/dim_date.csv")
dim_hotels = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/dim_hotels.csv")
dim_rooms = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/dim_rooms.csv")
fact_aggregated_bookings = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/fact_aggregated_bookings.csv")
fact_bookings = pd.read_csv("/kaggle/input/optimising-revenue-dataset/PS2/fact_bookings.csv")

In [3]:
dataframes = [dim_date,dim_hotels,dim_rooms,fact_aggregated_bookings,fact_bookings]

In [4]:
dim_date.head()

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday
2  03-May-22  May 22    W 19  weekeday
3  04-May-22  May 22    W 19  weekeday
4  05-May-22  May 22    W 19  weekeday

In [5]:
for i in dataframes:
    print(i.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      92 non-null     object
 1   mmm yy    92 non-null     object
 2   week no   92 non-null     object
 3   day_type  92 non-null     object
dtypes: object(4)
memory usage: 3.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 932.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id     4 non-null      object
 1   room_class  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB
None

In [6]:
for i in dataframes:
    print(i.head(10))
    print("\n")

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday
2  03-May-22  May 22    W 19  weekeday
3  04-May-22  May 22    W 19  weekeday
4  05-May-22  May 22    W 19  weekeday
5  06-May-22  May 22    W 19  weekeday
6  07-May-22  May 22    W 19   weekend
7  08-May-22  May 22    W 20   weekend
8  09-May-22  May 22    W 20  weekeday
9  10-May-22  May 22    W 20  weekeday


   property_id  property_name  category    city
0        16558   Atliq Grands    Luxury   Delhi
1        16559  Atliq Exotica    Luxury  Mumbai
2        16560     Atliq City  Business   Delhi
3        16561      Atliq Blu    Luxury   Delhi
4        16562      Atliq Bay    Luxury   Delhi
5        16563   Atliq Palace  Business   Delhi
6        17558   Atliq Grands    Luxury  Mumbai
7        17559  Atliq Exotica    Luxury  Mumbai
8        17560     Atliq City  Business  Mumbai
9        17561      Atliq Blu    Luxury  Mumbai


  room_id    room_class
0     RT1      Standard
1     RT2         Elite
2     RT3       Premium
3     RT4  Presidential


   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19
5        17560     01-May-22           RT1                   28        40
6        19558     01-May-22           RT1                   25        40
7        19560     01-May-22           RT1                   23        26
8        17561     01-May-22           RT1                   22        26
9        16560     01-May-22           RT1                   24        34


          booking_id  property_id booking_date check_in_date checkout_date  \
0   May012216558RT11        16558   2022-04-27    2022-05-01    2022-05-02
1   May012216558RT12        16558   2022-04-30    2022-05-01    2022-05-02
2   May012216558RT13        16558   2022-04-28    2022-05-01    2022-05-04
3   May012216558RT14        16558   2022-04-28    2022-05-01    2022-05-02
4   May012216558RT15        16558   2022-04-27    2022-05-01    2022-05-02
5   May012216558RT16        16558   2022-05-01    2022-05-01    2022-05-03
6   May012216558RT17        16558   2022-04-28    2022-05-01    2022-05-06
7   May012216558RT18        16558   2022-04-26    2022-05-01    2022-05-03
8   May012216558RT19        16558   2022-04-30    2022-05-01    2022-05-02
9  May012216558RT110        16558   2022-04-28    2022-05-01    2022-05-02

   no_guests room_category booking_platform  ratings_given booking_status  \
0          3           RT1    direct online            1.0    Checked Out
1          2           RT1           others            NaN      Cancelled
2          2           RT1          logtrip            5.0    Checked Out
3          2           RT1           others            NaN      Cancelled
4          4           RT1    direct online            5.0    Checked Out
5          2           RT1           others            4.0    Checked Out
6          2           RT1           others            NaN      Cancelled
7          2           RT1          logtrip            NaN        No Show
8          2           RT1         tripster            NaN    Checked Out
9          1           RT1           others            4.0    Checked Out

   revenue_generated  revenue_realized
0              10010             10010
1               9100              3640
2               9100              9100
3               9100              3640
4              10920             10920
5               9100              9100
6               9100              3640
7               9100              9100
8               9100              9100
9               9100              9100

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

# Fixing Problems with Data

**dim_rooms needs conversion of room_id and room_class into category**

In [7]:
dim_rooms["room_id"] = dim_rooms["room_id"].astype("category")
dim_rooms["room_class"] = dim_rooms["room_class"].astype("category")

**dim_hotels needs to convert city and category into category format**

In [8]:
dim_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 932.0+ bytes

In [9]:
dim_hotels["category"]=dim_hotels["category"].astype("category")
dim_hotels["city"]=dim_hotels["city"].astype("category")

In [10]:
dim_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     category
 3   city           25 non-null     category
dtypes: category(2), int64(1), object(1)
memory usage: 910.0+ bytes

**dim_date table needs corrected date format, delete its "mm yy" column (data redundancy), removing w from each row of week number and convert into integer, day_type should be converted into category**

In [11]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      92 non-null     object
 1   mmm yy    92 non-null     object
 2   week no   92 non-null     object
 3   day_type  92 non-null     object
dtypes: object(4)
memory usage: 3.0+ KB

In [12]:
dim_date["date"] = pd.to_datetime(dim_date["date"])

/tmp/ipykernel_13/2463475100.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dim_date["date"] = pd.to_datetime(dim_date["date"])

In [13]:
dim_date.drop(["mmm yy", "week no"], axis = 1, inplace =True)

In [14]:
dim_date.rename({"day_type":"Weekend"}, axis = 1, inplace = True)

In [15]:
dim_date["Weekend"] = np.where(dim_date["Weekend"].isin(["weekend"]),1,0)

In [16]:
dim_date["Weekend"].value_counts()

Weekend
0    65
1    27
Name: count, dtype: int64

In [17]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     92 non-null     datetime64[ns]
 1   Weekend  92 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.6 KB

**fact_aggregated_bookings needs check-in date into corrected date format, room_category into category type**

In [18]:
fact_aggregated_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB

In [19]:
fact_aggregated_bookings["check_in_date"] = pd.to_datetime(fact_aggregated_bookings["check_in_date"])
fact_aggregated_bookings["room_category"] = fact_aggregated_bookings["check_in_date"].astype("category")

/tmp/ipykernel_13/50125876.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fact_aggregated_bookings["check_in_date"] = pd.to_datetime(fact_aggregated_bookings["check_in_date"])

In [20]:
fact_aggregated_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   datetime64[ns]
 2   room_category        9200 non-null   category
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: category(1), datetime64[ns](1), int64(3)
memory usage: 299.4 KB

**fact_bookings has missing values in ratings_given column, booking & checkin & checkout dates must be converted into date type, room_category & booking_platform & booking_status into category**

In [21]:
fact_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB

In [22]:
fact_bookings.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

In [23]:
fact_bookings["booking_date"] = pd.to_datetime(fact_bookings["booking_date"])
fact_bookings["check_in_date"] = pd.to_datetime(fact_bookings["check_in_date"])
fact_bookings["checkout_date"] = pd.to_datetime(fact_bookings["checkout_date"])

In [24]:
fact_bookings[["room_category","booking_platform","booking_status"]] = fact_bookings[["room_category","booking_platform","booking_status"]].astype("category")

In [25]:
fact_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  datetime64[ns]
 3   check_in_date      134590 non-null  datetime64[ns]
 4   checkout_date      134590 non-null  datetime64[ns]
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  category
 7   booking_platform   134590 non-null  category
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  category
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: category(3), datetime64[ns](3), float64(1), int64(4), object(1)
memory usage: 9.6+ MB